{% extends 'base.html.twig' %}

{% block title %}Playlist{% endblock %}

{% block body %}

    {% include('_partials/nav.html.twig') %}

    <div class="container is-widescreen">

        <p>&nbsp;</p>

        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ path('route_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('route_playlist_index') }}">Playlists</a></li>
                <li class="is-active"><a aria-current="page">Show playlist «{{ playlist.title }}»</a></li>
            </ul>
        </nav>

        <h1 class="title is-1">
            Show playlist «{{ playlist.title }}»
        </h1>

        {% include '_partials/edit_link_button.html.twig' with {'route_path': 'route_playlist_edit', 'id': playlist.id} only %}
        {% include '_partials/delete_from_button.html.twig' with {'route_path': 'route_playlist_delete', 'id': playlist.id} only %}

        <p>&nbsp;</p>

        <table class="table is-fullwidth is-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ playlist.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ playlist.title }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ playlist.notes }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ playlist.createdAt ? playlist.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>

        <div class="box">
            <p class="subtitle is-4">Create playlist m3u file</p>

            <div class="field is-grouped">
                <div class="control is-expanded">
                    <input class="input"
                           type="text"
                           placeholder="Enter playlist filename..."
                    >
                </div>
                <div class="control">
                    <button class="button is-warning">
                        <span class="icon is-small">
                            <i class="fas fa-cogs"></i>
                        </span>
                        <span>Generate</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}