{% extends 'base.html.twig' %}

{% block title %}Edit Channel{% endblock %}

{% block body %}
    {% include('_partials/nav.html.twig') %}

    <div class="container is-widescreen">

        <p>&nbsp;</p>

        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ path('route_dashboard') }}">Dashboard</a></li>
                <li><a href="{{ path('route_channel_index') }}">Channels</a></li>
                <li class="is-active"><a aria-current="page">Edit channel «{{ channel.title }}»</a></li>
            </ul>
        </nav>

        <h1 class="title is-1">
            Edit channel «{{ channel.title }}»
        </h1>

        {{ include('channel/_form.html.twig', {'button_label': 'Update'}) }}

        <p>&nbsp;</p>

        {{ include('channel/_delete_form.html.twig') }}

    </div>
{% endblock %}