{% extends 'base.html.twig' %}

{% block title %}Channel index{% endblock %}

{% block body %}
    {% include('_partials/nav.html.twig') %}

    <div class="container is-widescreen">

        <p>&nbsp;</p>

        <h1 class="title is-1">
            Channels
        </h1>

        <a href="{{ path('route_channel_new') }}" class="button">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
            <span>Create new</span>
        </a>

        <p>&nbsp;</p>

        <table class="table is-fullwidth is-striped">

            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Url</th>
                <th>Group</th>
                <th>Logo</th>
                <th>Tvg ID</th>
                <th>Create Date</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for channel in channels %}
                <tr>
                    <td>{{ channel.id }}</td>
                    <td>{{ channel.title }}</td>
                    <td>{{ channel.url }}</td>
                    <td>
                        <a href="{{ path('route_group_show', {'id': channel.channelGroup.id}) }}">
                            {{ channel.channelGroup.title }}
                        </a>
                    </td>
                    <td>{{ channel.logoFilename }}</td>
                    <td>{{ channel.tvgId }}</td>
                    <td>{{ channel.createdAt ? channel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ channel.note }}</td>
                    <td>
                        <div class="buttons has-addons">
                            <a href="{{ path('route_channel_show', {'id': channel.id}) }}"
                               class="button"
                               title="Show"
                            >
                                <span class="icon is-small">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </a>
                            <a href="{{ path('route_channel_edit', {'id': channel.id}) }}"
                               title="Edit"
                               class="button"
                            >
                                <span class="icon is-small">
                                    <i class="fas fa-marker"></i>
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
{% endblock %}
